<!doctype html>
<html lang="en">
  <head>
    {% load static %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/adjustment.css"%}">


    <title>Kakeibo</title>
  </head>
  <body>
    <nav class="navbar navbar-light bg-secondary flex-md-nowrap p-0">
        <a class="navbar-brand col-sm-3 col-md-2" style="color:whitesmoke; font-size:40px" href="{% url 'accounts:top' %}">Kakeibo</a>
        <div class="btn-group">
            <div class="btn btn-secondary dropdaown-toggle navdrop" type="button" id="dropdaownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {% if user.is_authenticated %}
                 User: {{ user.get_username }}
                 {% else %}
                 User
                 {% endif %}
            </div>
            {% if user.is_authenticated %}
            <div class="dropdown-menu dropdown-menu-right"> 
                <a class="dropdown-item" href="{% url 'accounts:profile' user.pk %}">ユーザ情報</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'accounts:logout' %}">ログアウト</a>
            </div>
            {% endif %}
        </div> 
    </nav>

    {% block body %}{% endblock %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>